<main id="signUp">
  <span class="page__bg--overlay"></span>
  <form class="page__panel--float" [formGroup]="form" (ngSubmit)="signUp()">
    <section class="panel__inner--left">
      <span class="panel__img--center" width="84" height="160"></span>
    </section>
    <!-- form -->
    <section type="flex" class="panel__inner--right">
      <app-label
      size="md"
      [prefix]="'Ingreso'"
      [label]="'Bienvenido'"
      subtitle="Registra tus datos laborales"
      [direction]="isMobile ? 'column' : 'row'"
    ></app-label>
    <hr>
    <div type="wrap">
      <div class="form__input-wrapper--col">
        <app-required [label]="'Nombre'" [control]="'nombre'"></app-required>
        <input formControlName="nombre" />
        <small class="required" *ngIf="form.controls['nombre']?.invalid && form.controls['nombre']?.touched">
          Nombre es obligatorio
        </small>
      </div>   
        <div class="form__input-wrapper--col">
          <app-required [label]="'Apellido'" [control]="'apellido'"></app-required>
          <input formControlName="apellido" />
          <small class="required" *ngIf="form.controls['apellido']?.invalid && form.controls['apellido']?.touched">
            Apellido es obligatorio
          </small>
        </div>
        <div class="form__input-wrapper--col">
          <label class="required" for="email">Email</label>
          <input formControlName="email" />
          <small class="required" *ngIf="form.controls['email'].invalid && form.controls['email']?.touched">
            {{ form.controls['email'].errors?.['required'] ? 'Email es obligatorio' : 'Email no es válido' }}
          </small>
        </div>
      <section type="flex">
          <div class="form__input-wrapper--row">
            <div class="form__input-wrapper--col">
              <app-required [label]="'Contraseña'" [control]="'password'"></app-required>
              <input
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <small class="required" *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched">
                La contraseña es obligatoria
              </small>
            </div>
              <app-button
              [type]="'button'"
              size="sm"
              [severity]="'primary'"
              [variant]="'outline'"
              [icon]="'eye'"
              [direction]="'none'"
              (click)="hide = !hide"
              >
            </app-button>
          </div>
          <div class="form__input-wrapper--row">
            <div class="form__input-wrapper--col">
              <app-required [label]="'Repetir contraseña'" [control]="'confirmPassword'"></app-required>
                <input
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
                (input)="form.get('confirmPassword')?.updateValueAndValidity()"
              />
              <small class="required" *ngIf="passwordsDoNotMatch">
                Las contraseñas no coinciden
              </small>
            </div>
            <app-button
              [type]="'button'"
              size="sm"
              [severity]="'primary'"
              [variant]="'outline'"
              [icon]="'eye'"
              [direction]="'none'"
              (click)="hide = !hide"
              >
            </app-button>
          </div>
            <div class="form__input-wrapper--col">
              <app-required [label]="'Categoría'" [control]="'rol'"></app-required>
                <select class="form__select--custom" id="rol" formControlName="rol" (change)="onCategoryChange()">
                <option value="" disabled selected>Seleccionar rol</option>
                @for (rol of roles; track rol) {
                  <option [value]="rol">
                    {{ rol }}
                  </option>
                }
              </select>
              <small class="required" *ngIf="form.controls['rol']?.invalid && form.controls['rol']?.touched">
                La categoría es obligatoria
              </small>
            </div>
      </section>
    </div>
    </section>
    
    <!-- disclaimer -->
    <section class="panel__prefooter">
      <small class="footer__text--sm">
        <b>Disclaimer de Uso y Privacidad</b><br>
        Serveis requiere acceso a la ubicación del dispositivo para registrar correctamente los fichajes de ingreso y egreso. Al utilizar esta aplicación, el usuario acepta que su ubicación y otros datos personales relacionados con su actividad laboral serán recolectados y tratados conforme a la normativa vigente y a la Política de Privacidad de la empresa.
      </small>
    </section>
    <footer class="panel__footer">
      <app-button
        size="xs"
        [severity]="'primary'"
        [variant]="'link'"
        [icon]="'arrow-left'"
        [direction]="'row'"
        [label]="'Volver'"
        [path]="'login'"
      ></app-button>

      <app-button
        severity="success"
        type="submit"
        variant="fill"
        [icon]="'check-circle'"
        [direction]="'row'"
        [label]="'Registrarme'"
        size="xs"
        [disabled]="form.invalid || passwordsDoNotMatch"
        >
      </app-button>
    </footer>
  </form>
  <!-- Notificación -->
  <app-card
      *ngIf="showConfirmMsg || showErrorMsg"
      size="lg"
      direction="row"
      [variant]="'fab'"
      bottom="20px"
      left="calc(50vw - 180px)"
      [severity]="showErrorMsg ? 'danger' : 'success'"
      [closable]="hide"
      [selectable]="showErrorMsg"
    >
      <app-label
        size="xxs"
        [label]="showErrorMsg ? 'No se ha podido registrar el usuario' : 'El usuario ha sido creado exitosamente'"
        [subtitle]="showErrorMsg ? 'Vuelva a intentar luego' : 'Será redirigido al login'"
        [icon]="showErrorMsg ? 'alert-circle' : 'info-circle'"
        variant="outline"
        direction="row"
        severity="success"
      ></app-label>
    </app-card>
</main>
