
@if (empleado != null) {
    <section class="panel__main">
        <header class="panel__header--row">
            <app-label
            [size]="isMobile ? 'md' : 'lg'"
            label="{{ empleado.apellido }} {{ empleado.nombre }}"
            prefix="{{ empleado.estado }}"
            subtitle="{{ empleado.cuil }}"
            direction="row">
            <app-badge [severity]="empleado.estado ? 'success' : 'info'" label="{{ empleado.estado ? 'activo' : 'inactivo' }}" size="xs"></app-badge>
                <app-dropdown
                    [items]="getMenuItems(empleado)"
                    [position]="dropdownPosition"
                    buttonLabel=""
                    buttonIcon="ellipsis-vertical"
                ></app-dropdown>        
        </app-label>

        </header>
        <div class="panel__inner--main">
            <article class="panel__text--article">
                {{ empleado.rol }}
                {{ empleado.nombre }}
            </article>

            <div #mapContainer style="width: 100%; height: 400px; min-height: 300px;"></div>

        @if (empleado.adjuntos.length > 0) {
                <app-label
                    prefix="Adjuntos"
                    label="Mis archivos"
                    [size]="isMobile ? 'sm' : 'md'"
                    direction="row"
                >
            </app-label>
            <hr>
            <section role="navigation" class="img__wrapper--grid">
                <figure *ngFor="let file of empleado.adjuntos; trackBy: trackByFn" (click)="openModal(file)">
                    <img [src]="file" alt="Uploaded Image">
                    <figcaption>{{ file }}</figcaption>
                </figure>
            </section>
            @if (isModalOpen) {
            <app-modal
                [prefix]="'Previsualizar'"
                [title]="selectedFile"
                [subtitle]="'Modal Subtitle'"
                icon="info-circle"
                [img]="selectedFile"
                [closeable]="true"
                (closeModal)="isModalOpen = false"
            >
                <app-button direction="none" size="sm" label="Eliminar" variant="outline" severity="danger" (click)="isModalOpen = false"></app-button>
                <app-button direction="none" size="sm" label="Editar" variant="fill" severity="success"></app-button>
            </app-modal>
            }
         }
        </div>
        @if (isMobile) {
            <hr>
        }
        <div class="panel__inner--aside">
            <article class="panel__inner--left">
                <app-label
                    size="md"
                    [label]="empleado.fecha"
                    [prefix]="'Fecha'"
                    [direction]="'row'"
                    >
                </app-label>
                @if (empleado.estado === 'Activo') {
                    <app-label
                        size="md"
                        [label]="empleado.hora"
                        [prefix]="'Hora de ingreso'"
                        [direction]="'row'"
                        >
                    </app-label>
                }
                @if (empleado.rol) {
                    <app-label
                    size="md"
                    [label]="empleado.servicio"
                    [prefix]="'Lugar'"
                    [direction]="'row'"
                    >
                </app-label>
                }
                <app-switcher
                    [on]="true"
                    size="lg"
                    onLabel="Validado"
                    offLabel="No estado"
                    colorOn="green"
                    colorOff="red"
                    labelPosition="right"
                    [disabled]="true"
                ></app-switcher>
            </article>
        </div>
        <!-- Desacoplar footer en componente -->
        <footer class="panel__footer">
            <div class="panel__footer--left">
                <app-button
                size="xs"
                [severity]="'primary'"
                [variant]="'link'"
                [icon]="'arrow-left'"
                [direction]="'row'"
                [label]="'volver'"
                [disabled]="false"
                (clickEvent)="goBack()"
                ></app-button>
            </div>
            <div class="panel__footer--right">
                <app-button
                size="xs"
                [severity]="'warning'"
                [variant]="'fill'"
                [icon]="'pencil'"
                [direction]="'row'"
                [label]="'Editar'"
                [path]="'actualizar/' + id"
                [disabled]="false"
                ></app-button>
            </div>
        </footer>
        @if (modalDelete) {
            <app-modal
                [prefix]="empleado.servicio"
                [title]="'¿Desea eliminar el empleado' + '' + empleado.nombre + '?'"
                [subtitle]="'Esta acción es irreversible'"
                icon="info-alert"
                [closeable]="true"
                (closeModal)="modalDelete = false"
            >
                <app-button direction="none" size="sm" label="Eliminar" variant="outline" severity="danger" (click)="modalDelete = false"></app-button>
                <app-button direction="none" size="sm" label="Editar" variant="fill" severity="success" (click)="onConfirm()"></app-button>
            </app-modal>
            }
    </section>
    } @else {
        <app-label
        [icon]="'notes-medical'"
        [size]="isMobile ? 'sm' : 'md'"
        [prefix]="'Bienvenido'"
        [label]="'No hay empleados registrados'"
        subtitle="Comienza registrando un empleado."
        [direction]="'column'"
    ></app-label>
    }