<form [formGroup]="form" class="panel__main" (ngSubmit)="createRegistro()">
  <header class="{{ isMobile ? 'panel__header--col' : 'panel__header--row' }}">
      <app-label
      [size]="isMobile ? 'md' : 'lg'"
      [label]="'Nuevo registro'"
      [prefix]="'Autoregistro'"
      subtitle="Completa los campos requeridos (*)"
      [severity]="'info'"
      direction="row"
    ></app-label>
    <!-- Integrar con validators -->
     @if (form.invalid) {
       <app-badge severity="warning" label="Campos requeridos sin completar" size="md"></app-badge>
     } @else if (!form.invalid) {
       <app-badge severity="success" label="Campos requeridos completos" size="md"></app-badge>
     }
  </header>
  <div id="map" style="width: 100%; height: 100%;"></div>
 <section class="panel__inner--main">
    <section class="panel__inner--aside">
       <div class="form__input-wrapper--col">
         <app-required [label]="'Fecha'" [control]="'fecha'"></app-required>
         <input type="date" formControlName="fecha">
         <small class="required" *ngIf="form.controls['fecha']?.invalid && form.controls['fecha']?.touched">
           Debe seleccionar una fecha
         </small>
       </div>
       <div class="form__input-wrapper--col">
         <app-required [label]="'Hora'" [control]="'hora'"></app-required>
         <input type="time" formControlName="hora">
         <small class="required" *ngIf="form.controls['hora']?.invalid && form.controls['hora']?.touched">
           Debe seleccionar un horario
         </small>
       </div>

        @if (currentLocation) {
          <div>
            <label for="latitud">Latitud</label>
            <input
              id="latitud"
              type="number"
              [value]="form.get('ubicacionActual')?.value?.latitud"
              (input)="updateLocation('latitud', $event)">
          </div>
          
          <div>
            <label for="longitud">Longitud</label>
            <input
              id="longitud"
              type="number"
              [value]="form.get('ubicacionActual')?.value?.longitud"
              (input)="updateLocation('longitud', $event)">
          </div>
          
          <!-- <div>
            <label for="timestamp">Timestamp</label>
            <input
              id="timestamp"
              type="datetime-local"
              [value]="form.get('ubicacionActual')?.value?.timestamp"
              (input)="updateLocation('timestamp', $event.target.value)">
          </div> -->
          }
          <div class="form__input-wrapper--col">
            <app-required [label]="'Servicio'" [control]="'servicio'"></app-required>
            <input type="text" formControlName="servicio">
          </div>

         <app-switcher
             [on]="validado"
             size="md"
             [onLabel]="'Seleccionar ubicación manual'"
             offLabel="Seleccionar ubicación manual"
             labelPosition="right"
         ></app-switcher>
         <!-- @if (validado) {
        <div class="input__group">
            <label>City</label>
            <select formControlName="ciudad" placeholder="city" [(ngModel)]="selectedCity">
                <option value="0">--seleccione ciudad--</option>
                <option *ngFor="let city of dropdownCity" [ngValue]="city">{{ city.name }}</option>
            </select>
        </div>
        <ng-container *ngFor="let city of dropdownCity">
            <ng-container *ngIf="selectedCity.name === city.name">
                <input formControlName="lat" type="text" [(ngModel)]="selectedCity.lat" [value]="selectedCity.lat"/>
                <input formControlName="lng" type="text" [(ngModel)]="selectedCity.lng" [value]="selectedCity.lng"/>
            </ng-container>
        </ng-container>
         } -->
    </section>
</section>
      <!-- Desacoplar footer en componente -->
   <footer class="panel__footer">
     <div class="panel_cfooter--left">
       <app-button
         size="xs"
         [severity]="'danger'"
         [variant]="'outline'"
         [icon]="'xmark'"
         [direction]="isMobile ? 'none' : 'row'"
         [label]="isMobile ? '' : 'Cancelar'"
         [type]="'button'"
         (clickEvent)="cancel()"
       ></app-button>
       @if (!registroId) {
       <app-button
         size="xs"
         [severity]="'warning'"
         [variant]="'outline'"
         [icon]="'arrows-rotate'"
         [direction]="isMobile ? 'none' : 'row'"
         [label]="isMobile ? '' : 'Reset'"
         [type]="'reset'"
       ></app-button>
       }
     </div>
     <div class="panel__footer--right">
       @if (!registroId) {
         <app-button
         [type]="'button'"
         size="xs"
         [severity]="'primary'"
         [variant]="'link'"
         [icon]="'mobile-screen-button'"
         [direction]="isMobile ? 'none' : 'row'"
         [label]="'Recargar ubicación'"
         ></app-button>
       }
       <app-button
       [severity]="'success'"
       type="submit"
       [variant]="'fill'"
       [label]="isMobile ? '' : 'Guardar'"
       [direction]="isMobile ? 'none' : 'row'"
       [icon]="registroId ? 'floppy-disk' : 'file-lines'"
       [disabled]="form.invalid"
       size="xs"
       [path]="'item/' + registroId"
     >
     </app-button>
     </div>
 </footer>
</form>
