<form [formGroup]="form" class="panel__main" (ngSubmit)="createRegistro()">
  <header class="panel__header--col">
      <app-label
      [size]="isMobile ? 'md' : 'lg'"
      [label]="'Registrar ingreso'"
      [prefix]="'Fichaje'"
      [subtitle]="'El uso de la ubicación es puntual y solo al momento de fichar. La negativa a compartir esta información impedirá el uso de la función de fichaje.'"
      [severity]="'info'"
      direction="row"
    ></app-label>
      <!-- Integrar con validators -->
      @if (form.invalid) {
        <app-badge severity="danger" label="Campos requeridos sin completar" size="md"></app-badge>
      } @else if (!form.invalid) {
        <app-badge severity="warning" label="Recuerda activar la geolocalización" size="md"></app-badge>
      }
    </header>
    <section class="panel__inner--main">
    <div #mapContainer class="map" style="width: 100%; height: 280px; z-index: 1;"></div>
    <span class="form__input-wrapper--row">
      <div class="form__input-wrapper--col">
         <app-required [label]="'Fecha'" [control]="'fecha'"></app-required>
         <input class="disabled" type="date" formControlName="fecha">
         <small class="required" *ngIf="form.controls['fecha']?.invalid && form.controls['fecha']?.touched">
           Debe seleccionar una fecha
         </small>
       </div>
       <div class="form__input-wrapper--col">
         <app-required [label]="'Hora'" [control]="'hora'"></app-required>
         <input class="disabled" type="time" formControlName="hora">
         <small class="required" *ngIf="form.controls['hora']?.invalid && form.controls['hora']?.touched">
           Debe seleccionar un horario
         </small>
       </div>
    </span>
        @if (currentLocation) {
          <div class="form__input-wrapper--col hidden">
            <label for="latitud">Latitud</label>
            <input
              id="latitud"
              type="number"
              [value]="form.get('ubicacionActual')?.value?.latitud"
              (input)="updateLocation('latitud', $event)">
          </div>
          
          <div class="form__input-wrapper--col hidden">
            <label for="longitud">Longitud</label>
            <input
              id="longitud"
              type="number"
              [value]="form.get('ubicacionActual')?.value?.longitud"
              (input)="updateLocation('longitud', $event)">
          </div>
          }
          @if (loggedUser && !isMobile) {
            <div class="form__input-wrapper--col hidden">
              <app-required [label]="'Nombre'" [control]="'nombre'"></app-required>
              <input type="text" formControlName="nombre">
            </div>
          
            <div class="form__input-wrapper--col hidden">
              <app-required [label]="'Apellido'" [control]="'apellido'"></app-required>
              <input type="text" formControlName="apellido">
            </div>
          
            <div class="form__input-wrapper--col hidden">
              <app-required [label]="'Servicio'" [control]="'servicio'"></app-required>
              <input type="text" formControlName="servicio">
            </div>
          }
         <app-switcher
             [on]="validado"
             size="md"
             [onLabel]="'Seleccionar ubicación manual'"
             offLabel="Seleccionar ubicación manual"
             labelPosition="right"
         ></app-switcher>
</section>
      <!-- Desacoplar footer en componente -->
   <footer class="panel__footer">
     <div class="panel_cfooter--left">
       <app-button
         size="xs"
         [severity]="'danger'"
         [variant]="'outline'"
         [icon]="'xmark'"
         [direction]="isMobile ? 'none' : 'row'"
         [label]="isMobile ? '' : 'Cancelar'"
         [type]="'button'"
         (clickEvent)="cancel()"
       ></app-button>
     </div>
     <div class="panel__footer--right">
       @if (!registroId) {
         <app-button
         [type]="'button'"
         size="xs"
         [severity]="'primary'"
         [variant]="'link'"
         [icon]="'location-dot'"
         [direction]="isMobile ? 'none' : 'row'"
         [label]="'Refrescar ubicación'"
         (clickEvent)="refreshLocation()"
         ></app-button>
       }
       <app-button
       [severity]="'success'"
       type="submit"
       [variant]="'fill'"
       [label]="isMobile ? '' : 'Registrar ingreso'"
       [direction]="isMobile ? 'none' : 'row'"
       [icon]="'right-to-bracket'"
       [disabled]="form.invalid"
       size="xs"
       [path]="'item/' + registroId"
     >
     </app-button>
     </div>
 </footer>
</form>
